<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>order17vat</name>
    <displayName><![CDATA[Order VAT 17%]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Hold extra vat information for orders]]></description>
    <author><![CDATA[Yiannis K]]></author>
    <tab><![CDATA[]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>